body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFEFE !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0 !important;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.login-div {
  border: rgba(219, 219, 219, 0.582) solid 1px;
  border-radius: 5px;
  width: 300px;
  margin: 120px auto;
  min-height: 400px;
  padding-bottom: 50px;
  box-shadow: 0 4px 6px 0 rgba(148, 148, 148, 0.2), 0 6px 20px 0 rgba(145, 145, 145, 0.19);
}

.login-head {
  padding: 20px;
  background-color: rgb(255, 203, 55);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.login-info {
  margin: 10px;
  font-size: small;
  color: rgb(133, 133, 133);
  position: relative;
  margin-bottom: 20px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-sm {
  height: 35px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-sm-2 {
  height: 20px;
  border-radius: 25px;
  margin: 10px;
}

.user-login-div {
  border-top: rgb(247, 247, 247) solid 1px;
  width: 100%;
  padding-left: 5px;
}

.bottom-border {
  border-bottom: rgb(247, 247, 247) solid 1px;
}

.dashboard {
  margin: 0 auto;
  max-width: 400px;
}

.dashboard-head {
  display: inline-flex;
  width: 100%;
}

.dashboard-head h3 {
  width: 90%;
}

.dashboard-head img {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: right;
}

.question-div {
  min-height: 200px !important;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border: rgb(223, 223, 223) solid 1px;
  border-radius: 5px;
  border-bottom: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px 0 rgba(180, 180, 180, 0.2), 0 0px 6px 0 rgba(189, 189, 189, 0.19);
}

.question-div:hover {
  text-decoration: none !important;
  box-shadow: 0 2px 4px 0 rgba(74, 194, 100, 0.575), 0 4px 8px 0 rgba(74, 194, 100, 0.575);
}

.question-author {
  display: inline-flex;
  width: 95%;
  padding-bottom: 7px;
  margin: 10px;
  border-bottom:rgba(190, 190, 190, 0.308) solid 1px;
}

.question-author img {
  width: 35px;
  height: 35px;
  margin-right: 5px !important;
}

.question-div h3{
  font-size: large;
  color: rgb(73, 73, 73);
  font-weight: 500;
  position: relative;
  margin: 10px;
  text-decoration: none !important;
} 

.question-author h3 {
  font-size: medium;
  color: rgb(46, 46, 46);
  font-weight: 700;
  position: relative;
  margin-top: 14px;
  width: 40%;
  text-decoration: none !important;
}

.question {
  text-align: center;
  margin: 10px;
}

.question-option {
  text-align: center;
  font-weight: 900;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  margin-top: 7px;
}

.question-action {
  text-align: center;
  margin-top: 35px;
  width: 100%;
  background-color: rgb(74, 194, 100);
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: #4ac264 solid 1px;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}

.votes-count {
  width: 30%;
  margin: 13px;
  margin-right: 15px;
  text-align: end;
  font-weight: 500;
  font-size: 0.9em;
  color: rgb(143, 143, 143);
}

.nav {
  margin-top: 70px;
  margin-bottom: 40px !important;
  border-bottom: rgba(74, 194, 100) solid 1px;
  padding-bottom: 7px;
  width: 100%;
}

.nav-items {
  display: inline;
  width: 100%;
  margin-top: 20px;
}

.nav:first-child {
  padding-left: 10px;
}

.nav .nav-items a {
  padding: 7px;
  color: rgb(119, 119, 119);
  text-decoration: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: 20px;
}

.nav .nav-items a.active {
  background: rgba(74, 194, 100);
  font-weight: 500;
  color: white;
}

.nav .nav-items a:hover {
  background: rgba(74, 194, 100);
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.new-question-div {
  max-width: 80%;
  min-height: 400px;
  margin: 0 auto;
  padding-left: 30px;
}

.save {
  background: rgba(74, 194, 100) !important;
  border: rgba(74, 194, 100) 1px solid !important;
  border-radius: 0px !important;
}

.save:focus {
  box-shadow: 0 2px 4px 0 rgba(74, 194, 100, 0.575), 0 4px 8px 0 rgba(74, 194, 100, 0.575) !important;
}

.user-div {
  border-bottom: rgb(247, 247, 247) solid 1px;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 90px !important;
}

.leaderboard-div {
  max-width: 80%;
  margin: -30px auto;
}

.score {
  border-radius: 50%;
  width: 50px;
  height:37px;
  max-width: 37px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  color: white;
  margin-top: 3%;
  margin-right: 20px;
  background: rgba(74, 194, 100) !important;
}

.info {
  margin-top: -2px;
  padding: 0;
  color: grey;
  font-size: 0.9em;
}

.leaders:nth-of-type(1) {
  background: rgba(235, 235, 235, 0.329) !important;
}

.leaders:nth-of-type(2) .score {
  background: rgb(240, 217, 10) !important;
}

.leaders:nth-of-type(3) .score {
  background: rgb(0, 99, 192) !important;
}

.answer-me {
  border: rgba(74, 194, 100) 1px solid !important;
  border-radius: 4px;
  padding: 7px;
  color: rgba(74, 194, 100);
}

.answer-me:hover {
  background: #4ac264 !important;
  color: white;
}

.logout {
  background: rgb(228, 18, 3);
  border: none;
  border-radius: 2px;
  color: white;
  float: right;
  font-size: 0.9em;
}

.logout:focus {
  outline: rgb(228, 18, 3);
}
